- @body_class = 'no-sidebar'
- @menu 			= 'website'
- @submenu 		= 'media'

=render 'admin/layouts/site_menu'
#main
	%h1 Upload New Image
	-form_for :asset, :url => admin_assets_path, :html => {:multipart => true} do |f|
		%p
			=f.label :file, 'Select an image file to upload:', {:class => 'on-top'}
			=f.file_field :file
		.buttons
			%button.positive{:type => 'submit'}
				=image_tag "icons-shadowless/arrow-090.png", :alt => ''
				Upload