- @body_class = 'sidebar-right-240'
- @menu 			= 'website'
- @submenu 		= 'blogs'

=render 'admin/layouts/site_menu'
-form_for @article, :url => admin_blog_article_path(@blog, @article) do |f|
	#main
		%h1 Edit Article
		=f.label :title, {}, {:class => 'on-top'}
		=f.text_field :title, :class => 'text_field big wide'
		=f.label :body, {}, {:class => 'on-top'}
		=f.text_area :body, :class => 'wide tinymce', :rows => 20
		.buttons
			%button.positive{:type => 'submit'}
				=image_tag "icons-shadowless/tick.png", :alt => ''
				Save Changes
			=link_to "#{image_tag('icons-shadowless/cross.png', :alt => '')} Cancel", :back, :class => 'negative'

	#sidebar
		.details
			=f.check_box :published
			=f.label :published