/ Copyright (c) 2010-2011 ProgressBound, Inc.
/ 
/ Permission is hereby granted, free of charge, to any person obtaining
/ a copy of this software and associated documentation files (the
/ "Software"), to deal in the Software without restriction, including
/ without limitation the rights to use, copy, modify, merge, publish,
/ distribute, sublicense, and/or sell copies of the Software, and to
/ permit persons to whom the Software is furnished to do so, subject to
/ the following conditions:
/ 
/ The above copyright notice and this permission notice shall be
/ included in all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
/ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
/ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
/ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
/ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
/ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
/ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

- @body_class = 'sidebar-right-240'
- @menu 			= 'website'
- @submenu 		= 'blogs'

=render 'admin/layouts/site_menu'
=form_for @article, :url => admin_blog_article_path(@blog, @article) do |f|
	#main
		%h1 Edit Article
		=f.label :title, {}, {:class => 'on-top'}
		=f.text_field :title, :class => 'text_field big wide'
		=f.label :body, {}, {:class => 'on-top'}
		=f.text_area :body, :class => 'wide tinymce', :rows => 20
		.buttons
			%button.positive{:type => 'submit'}
				=image_tag "icons-shadowless/tick.png", :alt => ''
				Save Changes
			=link_to "#{image_tag('icons-shadowless/cross.png', :alt => '')} Cancel".html_safe, :back, :class => 'negative'

	#sidebar
		.details
			=f.check_box :published
			=f.label :published