/ Copyright (c) 2010-2011 ProgressBound, Inc.
/ 
/ Permission is hereby granted, free of charge, to any person obtaining
/ a copy of this software and associated documentation files (the
/ "Software"), to deal in the Software without restriction, including
/ without limitation the rights to use, copy, modify, merge, publish,
/ distribute, sublicense, and/or sell copies of the Software, and to
/ permit persons to whom the Software is furnished to do so, subject to
/ the following conditions:
/ 
/ The above copyright notice and this permission notice shall be
/ included in all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
/ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
/ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
/ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
/ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
/ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
/ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

- @body_class = 'sidebar-right-240'
- @menu 			= 'sites'

-form_for @site, :url => manage_site_path(@site) do |f|
	#main
		%h1
			Editing Site:
			=@site.name
		=f.label :name, 'Site Name / Header', {:class => 'on-top'}
		=f.text_field :name, :class => 'text_field big wide'
		=f.label :subdomain, "Subdomain <span>(Ex. For candidate Jane Doe: <strong>janedoe</strong>.stumpwise.com)</span>".html_safe, {:class => 'on-top'}
		=f.text_field :subdomain, :class => 'text_field wide'
		=f.label :custom_domain, 'Custom Domain <span>(Do not include the "www" &mdash; Ex. "mycustomdomain.com")</span>'.html_safe, {:class => 'on-top'}
		=f.text_field :custom_domain, :class => 'text_field wide'
		=f.label :campaign_legal_name, 'Legal Name of the Campaign', {:class => 'on-top'}
		=f.text_field :campaign_legal_name, :class => 'text_field wide'
		=f.label :campaign_email, 'Campaign Email', {:class => 'on-top'}
		=f.text_field :campaign_email, :class => 'text_field wide'
		=f.label :time_zone, 'Timezone', {:class => 'on-top'}
		=f.time_zone_select :time_zone, nil, :default => "Pacific Time (US &amp; Canada)".html_safe
		%p
			=f.check_box :can_accept_contributions
			=f.label :can_accept_contributions, 'Can Accept Contributions'
		%p
			=f.check_box :active
			=f.label :active, 'Site Activated'
		
		.buttons
			%button.positive{:type => 'submit'}
				=icon_tag "tick"
				Save Changes
			=link_to "#{icon_tag('cross')} Cancel".html_safe, :back, :class => 'negative'
	
	#sidebar
		%h2 Owner
		=mail_to(@site.owner.try(:email), icon_tag("mail", :overlay => "arrow")) + "&nbsp;".html_safe
		=@site.owner.try(:name)
		
		%h2 Authorized Users
		None