*{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; position:relative; }
html { margin:0; padding:0; }
body { margin:0; padding:0; font-family:sans-serif; font-size:14px; background:#EEE;}
.buttons {
	padding:20px 1em 0 1em;
	clear:both;
	border-top:1px solid #CCC;
}
.buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.buttons a, .buttons button{
    display:block;
    float:right;
    margin:0 0 0 7px;
    background-color:#FFF;
    border:1px solid #CCC;
    border-top:1px solid #DEDEDE;
    border-left:1px solid #DEDEDE;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 10px; /* Links */
		-moz-box-shadow: 2px 2px 2px #EEE;
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 10px; /* IE6 */
}
.buttons button[type]{
    padding:4px 10px 5px 10px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 10px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px -3px !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */
button:hover, .buttons a:hover{
    background-color:#DFF4FF;
    border:1px solid #C2E1EF;
    color:#336699;
}
.buttons a:active{
    background-color:#6299C5;
    border:1px solid #6299C5;
    color:#FFF;
}
/* POSITIVE */
button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#FFF;
}
/* NEGATIVE */
.buttons a.negative, button.negative{
    color:#D12F19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#FBE3E4;
    border:1px solid #FBC2C4;
    color:#D12F19;
}
.buttons a.negative:active{
    background-color:#D12F19;
    border:1px solid #D12F19;
    color:#FFF;
}
#header {
	margin:0; 
	padding:10px 5px;
	height:40px; 
	background:#36C url(/images/modal-headers.png) 0 -60px no-repeat;
	color:#FFF;
}
h1, h2{ 
	height:40px;
	float:left;
	text-indent:-999999px;
}
#header img {
	position:absolute;
	top:18px;
	right:18px;
}
h3 { text-transform:uppercase; font-size:12px; margin:0 0 6px 0; color:#666; }
#form-body {
	padding:18px;
	padding-bottom:20px;
	background:#FFF;
}
p { margin:0; }
label { display:block; color:#333; font-size:13px; padding-left:3px; padding-top:0.5em; font-weight:bold; }
input[type="text"] { 
	border:1px solid #CCC; 
	font-size:16px; 
	padding:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
div.container{ display:block; clear:both; width:100%; }
#amount { font-weight:bold; text-align:center; font-size:36px; }
#card-information, #billing-details, #employment-info, #confirm-eligibility, #refund-policy { width:600px; margin:1em auto; margin-bottom:2em; padding:4px; border-top:3px double #CCC; }
#refund-policy { margin-bottom:0; }
#first-name, #last-name, #address-1, #address-2, #city-state-zip, #city, #state, #zip-code, #card-number, #card-expiration, #card-cvv, #email, #mobile-phone, #employer, #occupation, #eligibility-statement { float:left; margin-right:9px; }
#first-name input, #last-name input, #address-1 input, #address-2 input, #city input, #card-number input, #employer input, #occupation input { width:250px; }
#state input { width:45px; }
#zip-code input { width:85px; }
input#credit_card_expiration_month { width:30px; }
input#credit_card_expiration_year { width:60px; }
#card-cvv input { width:90px; }
#email input[type="text"], #mobile-phone input[type="text"] { width:250px; }
#city-state-zip { float:left; clear:both; }
.confirm { display:none; padding-top:2px; }
.confirm label { display:inline; padding:0; font-weight:normal; }
#confirm-eligibility label { display:inline; padding:0; }
#eligibility-statement { padding:0.5em 2em; }
.why-link { display:block; float:right; font-size:10px; font-weight:normal; }
.why { display:none; float:left; font-size:12px; padding:5px 0;}
#address .why { width:425px; }
.optional, .format { display:block; float:right; color:#666; font-size:10px; font-weight:normal; }
.instructions { color:#333; font-size:12px; }
span.instructions { display:block; padding-top:2px; }
#contribution-amount { width:100%; text-align:center; padding-top:0.5em; }
#contribution-amount label { padding-top:0; font-size:16px; }
#slider { width:500px; margin:1em auto; }
#contribution-select { width:620px; margin:0 auto; }
#contribution-min, #contribution-max { position:absolute; width:50px; font-weight:bold; }
#contribution-min { left:0; bottom:0; text-align:right; margin-right:1em; }
#contribution-max { right:0; bottom:0; text-align:left; margin-left:1em; }
.ui-slider { border-color:#AAA;}
.ui-slider-handle { border-color:#36C !important; background:#9BF url(/images/grab.png) center center no-repeat !important; }
#refund-policy p { color:#666; font-size:11px; margin:1em 0; }
label.error { color:#F00; }
input.error { background:#FFE5E5; border-color:#C00; }
#error, #errors { width:580px; margin:1em auto; margin-bottom:2em; border:1px solid #C00; color:#A00; font-weight:bold; background:#FFE5E5; padding:10px; text-align:center; }
#errors { display:none; }
.fieldWithErrors { display:inline; }