@import url('droid-serif/stylesheet.css');
@import url('buttons.css');
@import url('inputs.css');

html, body {
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	background-color:#002E8A;
}
p { margin:1em 0; }
.instructions { color:#555; }
p.instructions {
	margin:0 0 1em 0;
	font-size:93%;
}
span.instructions {
	margin:0.25em 0;
	font-size:85%;
}
p.fields_required {
	color:#C00;
	font-weight:bold;
}
strong { font-weight:bold; }
i { font-style:italic; }
a { color:#0050F0; text-decoration:none; }
blockquote { background:#EEE; border:1px solid #CCC; padding:1em; }
div, form, fieldset { position:relative; }
input {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
}
#eligibility_statement { margin:0 2em; color:#555; }
#eligibility_statement ol, #eligibility_statement ul { margin:1em; }
#eligibility_statement li { margin:1em 0 1em 1.5em; }
#eligibility_statement ol li { list-style-type:decimal; }
#contribution {
	position:relative;
	width:740px;
	margin:20px auto;
	padding:10px;
	background:#FFF;
	box-shadow: 0 0 10px #05132E;
	-moz-box-shadow: 0 0 10px #05132E;
	-webkit-box-shadow: 0 0 10px #05132E;
	text-align:center;
}
#contribution_form {
	position:relative;
	width:740px;
	margin:0 auto;
}
h1 {
	font-family:'DroidSerifBold','Times New Roman', Times, serif;
	text-align:center;
	font-size:182%;
	padding:1em 0;
	background-color:#BACFF7;
	margin-bottom:1em;
	color:#081C45;
}
fieldset {
	position:relative;
	clear:both;
	margin:0 auto;
	border:none;
	margin-bottom:2em;
	padding:0 20px 1em 20px;
	text-align:left;
	width:520px;
	background-color:#EEE;
}
fieldset#eligibility_confirmation { margin-bottom:0; }
legend {
	position:relative;
	display:block;
	color:#FFF; /* add color for IE6+7 */
	font-family:'DroidSerifBold','Times New Roman', Times, serif;
	font-size:123.1%;
	padding-bottom:1em;  /* best consistent bottom spacing */
}
legend span {
	position:relative;
	display: block; /* needs to be here to work in Safari, FF, Camino */
	width: 560px; /* set width for Safari, FF, Camino */
	margin:0 -20px;
	padding:0.5em 20px;
	background-color:#103070;
}
.field_element { padding:4px 0; }
.text_field_label {
	display:block;
	text-align:left;
}
button.contribute[type] {
	font-size:167%;
	margin:0.25em auto;
	float:none;
	padding:8px 18px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#C00;
	color:#FFF;
	border:3px solid #900;
  border-bottom:3px solid #600;
  border-right:3px solid #600;
}
button.contribute[type]:hover { background-color:#900; }
input.text_field, select {
	margin-top:4px;
	min-width:540px;
	width:540px;
	max-width:540px;
}
#first_name, #last_name, #country, #employer, #occupation, #city, #type,
#expiration, #email, #phone {
	float:left;
	width:260px;
}
#first_name input, #last_name input, #country select, #employer input,
#occupation input, #city input, #type select, #contribution_email, #contribution_phone {
	min-width:260px;
	width:260px;
	max-width:260px;
}
#state { float:left; width:150px; }
#state select {
	min-width:150px;
	width:150px;
	max-width:150px;
}
#zip { float:left; width:80px; }
#zip input {
	min-width:80px;
	width:80px;
	max-width:80px;
}
#expiration label { display:block; }
#expiration #credit_card_month {
	min-width:60px;
	width:60px;
	max-width:60px;
}
#expiration #credit_card_year {
	min-width:80px;
	width:80px;
	max-width:80px;
}
#number { float:left; width:360px; }
#number input { 
	min-width:360px;
	width:360px;
	max-width:360px;
}
#verification_value { float:left; width:160px; }
#verification_value input { 
	min-width:160px;
	width:160px;
	max-width:160px;
}
#verification_value a {
	display:block;
	margin-top:6px;
	font-size:93%;
}
#first_name, #employer, #city, #state, #type, #expiration, #number, #email {
	margin-right:20px;
}
#street, #city, #country, #email, #number { clear:both; }
.amount_choice {
	display:block;
	float:left;
	width:140px;
	height:32px;
	line-height:32px;
}
#amount_other {
	min-width:60px;
	width:60px;
	max-width:60px;
	padding:5px;
}
#email_subscribe, #sms_subscribe {
	font-size:93%;
}
#email_subscribe label, #sms_subscribe label {
	margin:0;
	font-weight:normal;
}

#credit-card-logos {
	position:absolute;
	top:7px;
	right:10px;
}

p.thank_you {
	font-weight:bold;
}
#receipt table {
	width:80%;
	background:#FFF;
	margin:0.5em auto;
}
#receipt th, #receipt td {
	padding:4px 8px;
	border:2px solid #FFF;
	vertical-align:top;
}
#receipt th {
	font-weight:bold;
	text-align:right;
	background:#DDD;
}
#receipt td {
	text-align:left;
	background:#EEE;
}

/* flash-messages */
.flash {
  text-align:center;
  margin:0 auto 5px;
	padding:8px;
}
.flash.error {
  border: 1px solid #F66;
  background-color: #FDD;
}
.flash.warning {
  border: 1px solid #FFFAAA;
  background-color: #FFFFCC;
}
.flash.notice {
  border: 1px solid #DDF;
  background-color: #EEF;
}
div.fieldWithErrors { display:inline; }
.fieldWithErrors label { color:#C00; }
.fieldWithErrors input, .fieldWithErrors select {
	background:#FDD;
	border-color:#F66;
}
.formError {
	color:#C00;
	font-weight:bold;
}