#main.edit_theme li {
	margin:0.3em;
}
.inline_image {
	vertical-align:text-bottom;
}
#layout_filename, #template_filename {
	min-width:920px;
	width:920px;
	max-width:920px;
}
#layout_content, #template_content {
	min-width:920px;
	width:920px;
	max-width:920px;
}
.theme_section {
	margin:1em 0;
	padding-bottom:0.5em;
	border-bottom:1px solid #CCC;
}
#main .theme_section h2{
	border-bottom:4px solid #CCC;
	line-height:2em;
	margin:0.5em 0;
}
.theme_section ul {
	margin:0 1em;
}
#new_theme_asset {
	margin:1em;
}
#new_theme_asset label {
	display:block;
}
table#sites { width:100%; margin:1em 0;}
table#sites td, table#sites th {
	border:1px solid #CCC;
	padding:0.4em 0.5em;
}
table#sites th {
	background:#EEE;
	font-weight:bold;
}
table#sites td.admin_links {
	width:40px;
	text-align:center;
}
table#sites td.admin_links img { vertical-align:text-bottom; }
table#sites td.subdomain { width:150px;}

form#new_site table { width:100%; }
form#new_site th, form#new_site td { border-bottom:1px solid #DDD; padding:1.5em 0.25em; }
form#new_site tr:last-child th, form#new_site tr:last-child td { border:0; }
form#new_site th { width:30%; text-align:right; }
form#new_site td { padding:1em; }
input#site_name { width:400px;}
input#site_campaign_legal_name { width:400px; }
input#site_campaign_email{ width:300px; }
input#user_email { width:300px; }

.formError { font-size:93%; color:#C00; }