- @body_class = 'no-sidebar'
- @menu 			= 'contributions'
- @submenu 		= 'settings'

=render 'admin/layouts/contributions_menu'
-form_for @site, :url => update_settings_admin_contributions_path, :html => {:multipart => true} do |f|
	#main
		%h1 Contribution Settings
		=f.label :max_contribution_amount, 'Maximum Allowed Contribution Amount', {:class => 'on-top'}
		$
		=f.text_field :max_contribution_amount, :class => 'text_field'
		=f.label :suggested_contribution_amount, 'Suggested Contribution Amount', {:class => 'on-top'}
		$
		=f.text_field :suggested_contribution_amount, :class => 'text_field'
		=f.label :eligibility_statement, "Contributor Eligibility Statement<br/><span>If provided, a contributor will be required to confirm that these statement(s) are true and correct. Please consult the campaign finance regulations applicable to your campaign. They will likely provide a list of contributor eligibility requirements (i.e. age, legal residency, source of money is personal funds, etc.)</span>", {:class => 'on-top'}
		=f.text_area :eligibility_statement, :class => 'wide tinymce', :rows => 8
		
		.buttons
			%button.positive{:type => 'submit'}
				=image_tag "icons-shadowless/tick.png", :alt => ''
				Save Changes
			=link_to "#{image_tag('icons-shadowless/cross.png', :alt => '')} Cancel", :back, :class => 'negative'