/ Copyright (c) 2010-2011 ProgressBound, Inc.
/ 
/ Permission is hereby granted, free of charge, to any person obtaining
/ a copy of this software and associated documentation files (the
/ "Software"), to deal in the Software without restriction, including
/ without limitation the rights to use, copy, modify, merge, publish,
/ distribute, sublicense, and/or sell copies of the Software, and to
/ permit persons to whom the Software is furnished to do so, subject to
/ the following conditions:
/ 
/ The above copyright notice and this permission notice shall be
/ included in all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
/ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
/ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
/ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
/ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
/ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
/ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

%body.home
	#wrapper
		=render 'layouts/marketing_nav'
		#marketing-display
			#screenshots
				<object width="510" height="296"><param name="movie" value="http://www.youtube.com/v/tApN1gZWrt8?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/tApN1gZWrt8?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="510" height="296"></embed></object>
				/
					=image_tag 'marketing/screenshot.jpg', :alt => 'Screenshot of Stumpwise'
			-link_to "https://secure.#{HOST}/signup", :id => "pricing-button" do
				=image_tag 'marketing/plansnpricing.png', :alt => 'See Plans &amp; Pricing'

		%table{:class => "features"}
			%tbody
				%tr
					%th
						%h3 Campaign site management
					%th
						%h3 Easy supporter management
					%th
						%h3 Integrated contribution processing
				%tr
					%td Launch your campaign website in just 5 minutes! With the help of our campaign site generator and free, professionally designed templates, anyone can quickly and easily setup a campaign website.
					%td When you have thousands of supporters, it’s overwhelming to maintain all those relationships. With the help of our integrated CRM, we’ll help you keep track of the who, what, where and why of the lifeblood of your campaign.
					%td Another thing you don’t have to worry about. Your site comes with online contribution processing built in. You can customize eligibility statements, pre-defined amount choices and contribution limits to whatever is ideal for your race.
				%tr
					%th
						%h3 Email &amp; SMS blasts
					%th
						%h3 Social networking
					%th
						%h3 Free site, affordable services
				%tr
					%td Communicating with your supporters is absolutely critical for fundraising, volunteer organization, and GOTV efforts. Send an email or SMS blast out to all your supporters with the click of a button and get detailed statistics about how successful your message was.
					%td Social networks are becoming one of the most effective and affordable ways for political campaigns to communicate with and find new supporters. We are tightly integrating these networks with our campaign communications and CRM features.
					%td Running for office has become unbelievably complex and expensive. We're reversing that trend by making it easier and more affordable using the web. Our fees will always be within reach of anyone running for office and we despise mandatory contracts &amp; hidden fees.
		
		%div{:style => "margin:0 auto; margin-bottom:2em; padding:10px; border:1px solid #CCC; line-height:3em; text-align:center; width:500px; background:#FFF;"}
			%span{:style => "font-weight:bold; font-size:125%;"} Sign up for our newsletter
			<form action="http://email.stumpwise.com/t/r/s/hkkyuj/" method="post" id="subForm">
			<label for="name">Name:</label>
			<input type="text" name="cm-name" id="name" style="margin-right:1em;" />
				
			<label for="hkkyuj-hkkyuj">Email:</label>
			<input type="text" name="cm-hkkyuj-hkkyuj" id="hkkyuj-hkkyuj" />
				
			<input type="submit" value="Subscribe" />
			</form>
	=render 'layouts/marketing_footer'
