%body
	#wrapper
		=render 'layouts/marketing_nav'
		#signup
			%h2 Launch your campaign site in less than 5 minutes!
			-form_tag '/create_site' do
				=flash_messages
				#site-information.section
					-fields_for @site do |s|
						%p.field
							=s.label :name, 'Candidate name'
							%br
							=s.text_field :name
						%p.field
							=s.label :subhead, 'What office is the candidate running for?'
							%br
							=s.text_field :subhead
							%br
							%span.hint Example: "Mayor of New York" or "San Jose City Council, District 1"
						=hidden_field_tag 'site[time_zone]', "Pacific Time (US & Canada)"
						=hidden_field_tag 'site[theme_id]', "1"
					-fields_for @user do |u|
						%p.field
							=u.label :email, 'Email'
							%br
							=u.text_field :email
						%p.field
							=u.label :password, 'Choose a password (minimum 8 characters)'
							%br
							=u.password_field :password
						%p.field
							=u.label :password_confirmation, 'Please retype your password to confirm'
							%br
							=u.password_field :password_confirmation
						=hidden_field_tag 'user[time_zone]', "Pacific Time (US & Canada)"
					
				#site-url.section
					%h3 Create your campaign site address
					%p.url-instructions
						All sites come with a free subdomain-based url like <code>http://janedoe.stumpwise.com</code>.
						If you wish to use a custom domain like <code>http://www.janedoeforcongress.com</code>,
						you'll be able to set that up after we create your account. In
						the meantime please choose a subdomain below.
						<strong>Letters &amp; numbers only please</strong>.
						
					-fields_for @site do |s|
						%p.url
							http://
							=s.text_field :subdomain
							\.stumpwise.com

				-fields_for @user do |u|
					%p.accept-tos
						=u.check_box :accepted_campaign_terms
						=u.label :accepted_campaign_terms, "I agree to the <a href=\"http://#{HOST}/info/campaigns\" target=\"_blank\">Terms of Service</a>, <a href=\"http://#{HOST}/info/privacy\" target=\"_blank\">Privacy Policy</a> &amp; <a href=\"http://#{HOST}/info/refunds\" target=\"_blank\">Refund Policy</a>."
				%p=submit_tag 'Create my site'
				
		#pricing
			%h2 Pricing
			%dl#price-list
				%dt Setup Fee
				%dd $0
				%dt Monthly Fee
				%dd $0
				%dt Professional Site Design
				%dd Free
				%dt Contribution Processing
				%dd 5% + $0.50/ea
				%dt Emails 
				%dd $5 + 1&cent;/recipient
				%dt SMS Messages 
				%dd $0.05/ea
	=render 'layouts/marketing_footer'
