%body
	#wrapper
		=render 'layouts/marketing_nav'
		#thank-you{:style => "text-align:center; font-size:200%; color:#333"}
			%div{:style => "background:#FFF; border:1px solid #CCC; margin:4em 2em 10em 2em; padding:2em 2em;"}
				%p Thank you for signing up for Stumpwise.
				%p{:style => "font-size:75%; margin-top:0.5em"} We will be in contact with you shortly to help you set up your site.
	=render 'layouts/marketing_footer'