/ Copyright (c) 2010-2011 ProgressBound, Inc.
/ 
/ Permission is hereby granted, free of charge, to any person obtaining
/ a copy of this software and associated documentation files (the
/ "Software"), to deal in the Software without restriction, including
/ without limitation the rights to use, copy, modify, merge, publish,
/ distribute, sublicense, and/or sell copies of the Software, and to
/ permit persons to whom the Software is furnished to do so, subject to
/ the following conditions:
/ 
/ The above copyright notice and this permission notice shall be
/ included in all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
/ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
/ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
/ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
/ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
/ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
/ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

- @body_class = 'no-sidebar'
- @menu 			= 'website'
- @submenu 		= 'navigation'

=render 'admin/layouts/site_menu'
#main
	%h1 Navigation Menu
	-if @items.size > 0
		%p Drag and drop items to reorder the navigation of your site:
		%ul{:id => "site_navigation"}
			-for item in @items
				%li{:id => "item_#{item.id}"}
					%span{:class => "handle"}
					=item.title
	-else
		%p
			Your site currently has no content to reorder. Come back when you've created some
			=link_to 'blog posts', admin_blogs_path
			or
			=link_to 'pages.', admin_pages_path 

-content_for :javascript do
	:plain
		$('#site_navigation').sortable({
			axis:'y', 
			dropOnEmpty:false, 
			update:function(event, ui){
				$.ajax({
					data:'moved_item_id='+ ui.item.attr('id').split('_').pop() + '&' + $(this).sortable('serialize') + '&_method=put', 
					dataType:'script', 
					type:'post', 
					url:'/admin/navigation'
				})
			}
		});
		$("#site_navigation").disableSelection();
