#sub-menu
	=link_to 'Browse', admin_contributions_path, :class => @submenu == 'browse' ? 'current' : ''
	=link_to 'Settings', settings_admin_contributions_path, :class => @submenu == 'settings' ? 'current' : ''