#footer-wrapper
	#footer
		&copy; Copyright 2010 ProgressBound, Inc.
		<span>|</span>
		<a href="/info/campaigns" target="_blank">Terms of Service</a>
		<span>|</span>
		<a href="/info/conduct" target="_blank">User Conduct Policy</a>
		<span>|</span>
		<a href="/info/privacy" target="_blank">Privacy Policy</a>