#footer-wrapper
	#footer
		&copy; Copyright 2010 ProgressBound, Inc.
		<span>|</span>
		=link_to "Terms of Service", "http://#{HOST}/info/campaigns", :target => "_blank"
		<span>|</span>
		=link_to "User Conduct Policy", "http://#{HOST}/info/conduct", :target => "_blank"
		<span>|</span>
		=link_to "Privacy Policy", "http://#{HOST}/info/privacy", :target => "_blank"