!!! 5
%html
	%head
		%title= "stumpwise :: #{@site.name}"
		=stylesheet_link_tag "master.css",'tablesorter','tablesorter.pager'
		/[if lt IE 9]
			=javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE9.js"
		=javascript_include_tag "jquery.min.js",'jquery.tablesorter.min.js','jquery.tablesorter.pager.js',"tiny_mce/jquery.tinymce.js","application.js"
	%body{:class => @body_class}
		#container
			#header
				%h1 Stumpwise
				%h2= @site.name || ''
				#account-nav
					=link_to 'Users', '/'
					%span &#124;
					=link_to 'Account Info', '/'
					%span &#124;
					=link_to 'Log Out', '/'
				%div{:style => "clear:both;"}
				#menu
					=link_to 'Web Site', admin_root_path, :class => @menu == 'website' ? 'current' : ''
					=link_to 'Supporters', admin_supporters_path, :class => @menu == 'supporters' ? 'current' : ''
					=link_to 'Donations', '/', :class => @menu == 'donations' ? 'current' : ''
					=link_to 'Email', '/', :class => @menu == 'email' ? 'current' : ''
					=link_to 'SMS', '/', :class => @menu == 'sms' ? 'current' : ''
			#content
				= yield
				%div{:style => "clear:both;"}
			#footer
				&copy;
				%strong ProgressBound, Inc.
				%span &#124;
				=link_to 'Terms of Use','/'
				%span &#124;
				=link_to 'Privacy Policy','/'