!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%title= "Stumpwise | Simply Powerful Campaigns"
		=stylesheet_link_tag 'marketing.css'
		:javascript
			var _kmq = _kmq || [];
			function _kms(u){
			setTimeout(function(){
			var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
			s.src = u; f.parentNode.insertBefore(s, f);
			}, 1);
			}
			_kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/1ee5386f78e1c69ff80c9f841917643b89b19f81.1.js');
		=yield :head
	=yield
	
	:javascript
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-15839704-5']);
		_gaq.push(['_setDomainName', '.stumpwise.com']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();